@model DataLayer.Models.Regions

@{
    var strImage = "/Images/r" + Model.idRegion + ".jpg";
}



    @using (Html.BeginForm("ResultRegion", "Search", FormMethod.Post, new { id = "IdFormPagination" }))
    {
<div class="FormSubmitButton">
    <input type="hidden" id="IdRegion" name="id" value="@Model.idRegion" />

    <div class=" rm-padding-sm" style="height:200px;">
        <div class="catalog" style="height:100%">

            <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover catalog1" style="height:200px; background-image : url(@strImage)">
                <a class="link-reset" href="#">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h3">
                                @Model.name
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>
            }


